-
  // Base constants.
  const HOURS_HAND_LENGTH = 30
  const MINUTES_HAND_END = 0
  const SIZE = 100
  const STROKE_WIDTH = 3

  // Calculated constants.
  const CENTER = SIZE / 2
  const HOURS_HAND_END = CENTER - HOURS_HAND_LENGTH

//- SVG element template.
svg(
  viewbox=`0 0 ${SIZE} ${SIZE}`
  aria-hidden="true"
)
  line(
    x1=CENTER
    y1=CENTER
    x2=CENTER
    y2=HOURS_HAND_END
    transform=`rotate(${hoursAngle}, ${CENTER}, ${CENTER})`
  )
  line(
    x1=CENTER
    y1=CENTER
    x2=CENTER
    y2=MINUTES_HAND_END
    transform=`rotate(${minutesAngle}, ${CENTER}, ${CENTER})`
  )
  circle(
    cx=CENTER
    cy=CENTER
    r=STROKE_WIDTH
  )
